<div class="header">
    <h1 class="introduction">{{welcome.intro}}</h1>
    <img class="abbey" ng-src="{{abbeyimage.icon}}"/>
</div>

<div class="menu">
    <div class="minneapolis">
       <a href="/minneapolis"><h1 class="minntext">Minneapolis</h1></a>
        <img class="minnimage" src="assets/styles/MinneapolisForeground.png"/>
    </div>
    <div class="elsewhere">
        <a href="/elsewhere"><h1 class="elsetext">Elsewhere</h1></a>
        <img class="elseimage" src="assets/styles/forests.png"/>
    </div>
    <div class="scotland">
        <a href="/scotland"><h1 class="scottext">Scotland</h1></a>
        <img class="scotimage" src="assets/styles/scotlandblack.png"/>
    </div>
</div>

<div class="footer">
    <h6 class="email">email</h6>
    <h6 class="pinterest">Pinterest</h6>
</div>